<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression test" verbose="1">
    <listeners>
        <listener class-name="core.utils.Listener"/>
    </listeners>
    <parameter name="app_args" value=""/> <!-- e.g. mvn clean test -Dapp_args=com.roinvesting,ROInvesting -->
    <parameter name="os_type" value="m"/> <!-- w(windows), m(macOS) -->

    <test name="test 1">
        <classes>
            <class name="RegressionTest" />
        </classes>
    </test>

</suite>